/* Styles for Starter Project  */

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    color: #707070;
    font-family: objektiv-mk1, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 30px;
    margin-top: 80px;
}

.coffee {
    padding: 20px 0px 0px 60px;
}

.dropitem {
    padding: 0px 0px 0px 0px;
}

.header {
    display: none;
}

h1 {
    background-color: #A69F7C;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    }

h2 {
    font-family: objektiv-mk1, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #8F6D3F;
    padding: 0px 0px 0px 160px;
    margin-top: 50px;
    margin-bottom: 50px;
}

h3 {
    font-family: objektiv-mk1, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #A69F7C;
}

h4 {
   font-family: objektiv-mk1, sans-serif;
   font-weight: 35 pts;
   font-style: normal;
   color: #8F6D3F;
}

img {
    max-width: 100%;
}

.intro {
    color:black;
    padding: 0px 0px 0px 0px;
    color: #707070;
}

li {
    display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 1rem;
  width: 100%;
  grid-template-areas:
      "product s m l";
}

nav {
    background-color: #D6D496;
    color: white;
    padding: 0px 70px 0px 0px;
    position: fixed;
    text-align: left;
}

nav ul {
    list-style: none;
}

@media screen and (min-width: 680px) {
.header {
    align-items: center;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    }
    
h1 {
    display: none;
    }
    
li {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: 
    "product product product product"
    "s m l .";
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 1rem;
  width: 100%;
    }
nav {
    background-color: white;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav * {
    display: inline;
}
nav img {
        display: none;
}

nav li {
    margin: 20px;
}
}

.product {
  grid-area: product;
}

.small {
  grid-area: s;
}

.medium {
  grid-area: m;
}
.large {
  grid-area: l;
}

ul {
  width: 100%;
}